wheel
asgiref
certifi
chardet
crispy-bootstrap5
dj-database-url
Django
django-allauth
django-crispy-forms
django-environ
django-heroku
django-jet-reboot
django-paypal
djangorestframework
docx
feedparser
gunicorn
idna
lxml
Pillow
psycopg2
psycopg2-binary
PyMySQL
python-docx
pytz
reportlab
requests
sgmllib3k
six
sqlparse
typing-extensions
urllib3
whitenoise