a {
	text-decoration: none !important;
	color: black;
}

.focused{
	outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%) !important;
}

.errorlist li{
	color: red;
}

.price-text {
	text-align: right;
	font-weight: bold;
	font-size: 1.2em;
}

.text-right {
	text-align: right;
}

.discount-text {
	text-align: right;
	font-weight: bold;
	font-size: 1.2em;
}