{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Featured Products -->
    <div class="container">
        <div class="row">
          <div class="col">
            <img
            src="../static/media/images/logok4.png"
            />
          </div>
          <div class="col" style="margin: auto; text-align: justify;">
            <h3 class="my-4 border-bottom pb-1"><center>Tentang Kami</center></h3>
            <p>Apotek K4 merupakan salah satu kelompok yang mengikuti pelatihan tematik Women in Tech yang diselenggarakan oleh Digitalent Kominfo.</p>
            <br>
            <p>Nama kelompok kami terinspirasi dari Apotek K24 dengan slogannya sobat sehat kita-kita.</p>
            <br>
            <p>Website E-Commerce Apotek K4 merupakan hasil pembelajaran kami mengenai Django dan Cybersecurity.</p>
          </div>
        </div>
</main>
{% endblock %}